.home_container{
    min-height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
}

::-webkit-scrollbar{
    display: none;
}
.container_first{
   height: 40%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin:20px 0px;
}

.chart_1{
    height: 100%;
    width: 45%;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid black;
}

.container_second{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:20px 0px;
 }

 .container_third{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:20px 0px;
 }
 .container_fourth{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:20px 0px;
    margin-bottom: 30px;
 }

 /* @media screen and (max-width: 720px) {
    .container_first{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin:20px 0px;
     }
    
  } */