.container{
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

@media screen and (max-width: 720px) {
    .container{
        width: 600px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
  }