.navbar_container{
    height: 70px;
    width: 100vw;
    background-color: rgb(163, 159, 159);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}